<div class="sidebar-content">

  <div class="portrait {{#if isDeath}}deathroll{{/if}}">
    {{#if beastformPortrait}}
    <img src="{{beastformPortrait}}" alt="{{document.name}} (Beastform)" class="beastform-portrait" />
    {{else}}
    <img src="{{document.img}}" alt="{{document.name}}" data-action="editImage" data-edit="img" />
    {{/if}}
    {{#if isDeath}}
    <a class="deathroll-btn" data-tooltip="DAGGERHEART.UI.Tooltip.makeDeathMove" data-action="makeDeathMove"><i
        class="fa-solid fa-skull death-save"></i></a>
    {{/if}}
  </div>

  {{#if beastformItem}}
  <div class="cancel-beastform-btn" data-action="cancelBeastform" data-item-uuid="{{beastformItem.uuid}}">
    <h3>{{localize "DAGGERHEART.ACTORS.Character.cancelBeastform"}}</h3>
  </div>
  {{/if}}

 
  {{> "modules/daggerheart-sleek-ui/templates/sheets/characters/main/favorites.hbs"}}

  <button type="button" class="settings-button" data-action="openSettings"
    data-tooltip-text="{{localize 'DAGGERHEART.UI.Tooltip.openSheetSettings'}}"
    aria-label="{{localize 'DAGGERHEART.UI.Tooltip.openSheetSettings'}}">
    <i class="fa-solid fa-gear"></i>
  </button>

</div>