<div class="tabs biography-tab">

  {{!-- BACKGROUND --}}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'background')}}collapsed{{/if}}" data-category-id="background">

    <div class="category-header" data-action="toggleCategory">
      <h2>{{localize
              "DAGGERHEART.ACTORS.Character.story.backgroundTitle"
            }}</h2>      
      <span class="line"></span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>

    <div class="category-content textbox">
      {{formInput
        background.field
        value=background.value
        enriched=background.enriched
        toggled=true
      }}
    </div>

  </div>


  {{!-- CONNECTIONS --}}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'connections')}}collapsed{{/if}}" data-category-id="connections">

    <div class="category-header" data-action="toggleCategory">
      <h2>{{localize
              "DAGGERHEART.ACTORS.Character.story.connectionsTitle"
            }}</h2>      
      <span class="line"></span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>

    <div class="category-content textbox">
      {{formInput
          connections.field
          value=connections.value
          enriched=connections.enriched
          toggled=true
        }}
    </div>

  </div>

  {{!-- DEFAULT CHARACTERISTICS --}}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'characteristics')}}collapsed{{/if}}" data-category-id="characteristics">

    <div class="category-header" data-action="toggleCategory">
      <h2>{{localize
              "DAGGERHEART.ACTORS.Character.story.characteristics"
            }}</h2>      
      <span class="line"></span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>

    <div class="category-content characteristics">
      
      <div class="input">
          <span>{{localize 'DAGGERHEART.ACTORS.Character.pronouns'}}</span>
          {{formInput systemFields.biography.fields.characteristics.fields.pronouns value=source.system.biography.characteristics.pronouns enriched=source.system.biography.characteristics.pronouns localize=true toggled=true}}
      </div>

      <div class="input">
          <span>{{localize 'DAGGERHEART.ACTORS.Character.age'}}</span>
          {{formInput systemFields.biography.fields.characteristics.fields.age value=source.system.biography.characteristics.age enriched=source.system.biography.characteristics.age localize=true toggled=true}}
      </div>

      <div class="input">
          <span>{{localize 'DAGGERHEART.ACTORS.Character.faith'}}</span>
          {{formInput systemFields.biography.fields.characteristics.fields.faith value=source.system.biography.characteristics.faith enriched=source.system.biography.characteristics.faith localize=true toggled=true}}
      </div>

    </div>

  </div> 

  {{!-- DESCRIPTIONS --}}
  <div class="category-wrapper {{#if (contains @root.collapsedCategories 'descriptions')}}collapsed{{/if}}" data-category-id="descriptions">

    <div class="category-header" data-action="toggleCategory">
      <h2>Descriptions</h2>      
      <span class="line"></span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>

    <div class="category-content descriptions">

      <div class="description-input">
        <span>Clothes that are:</span>
        <input
          type="text"
          name="flags.daggerheart-sleek-ui.clothes"
          value="{{document.flags.daggerheart-sleek-ui.clothes}}"
        />
      </div>

      <div class="description-input">
        <span>Eyes the color of:</span>
        <input
          type="text"
          name="flags.daggerheart-sleek-ui.eyes"
          value="{{document.flags.daggerheart-sleek-ui.eyes}}"
        />
      </div>

      <div class="description-input">
        <span>Body that's:</span>
        <input
          type="text"
          name="flags.daggerheart-sleek-ui.body"
          value="{{document.flags.daggerheart-sleek-ui.body}}"
        />
      </div>

      <div class="description-input">
        <span>Skin the color of:</span>
        <input
          type="text"
          name="flags.daggerheart-sleek-ui.skin"
          value="{{document.flags.daggerheart-sleek-ui.skin}}"
        />
      </div>

      <div class="description-input">
        <span>Attitude like:</span>
        <input
          type="text"
          name="flags.daggerheart-sleek-ui.attitude"
          value="{{document.flags.daggerheart-sleek-ui.attitude}}"
        />
      </div>


    </div>

  </div> 

</div>