<div class="card-wrapper env-adversaries">

  <div class="card-container header" data-item-uuid="{{uuid}}" data-action="editDoc">

    {{! PORTRAIT }}
    <div class="card-icon" data-item-uuid="{{uuid}}">
      <img class="icon" src="{{img}}" alt="{{name}}" />
    </div>

    <div class="card-header">
      {{! NAME }}
      <div class="card-text">
        <span class="card-text-name">{{name}}</span>
      </div>

      {{! TAGS }}
      <div class="character-tags">

        <span class="tag tag-green">
          {{typeName}}
        </span>

        <span class="tag tag-red">
          {{localize "DAGGERHEART.ACTORS.Adversary.FIELDS.tier.label"}}
          {{tier}}
        </span>

      </div>

    </div>

  </div>

</div>