<div class="compact card-wrapper armor {{#if item.system.equipped}}card-equipped{{/if}} {{#if @root.quickAccess}}quick-access{{/if}}" draggable="true" data-item-uuid="{{item.uuid}}">

  <div class="card-container header" data-item-uuid="{{item.uuid}}" data-type="{{item.type}}" data-action="navigateToCard">

    <div class="card-icon" {{#if (gte ownershipLevel 3)}}data-action="{{#if item.system.actions.size}}useItem{{else}}toChat{{/if}}"{{/if}}
      data-item-uuid="{{item.uuid}}"
      {{#if @root.showTooltip}}data-tooltip="#item#{{item.uuid}}"{{/if}}>
      <img class="icon" src="{{item.img}}" alt="{{item.name}}" />
      <img class="dice-roll" src="systems/daggerheart/assets/icons/dice/duality/DualityBW.svg" alt="" />
    </div>

    <div class="card-header">

      <div class="card-text">
        <span class="card-text-name">{{item.name}}</span>
      </div>

      <div class="card-resource">
      </div>

      <div class="hover-area">

        {{#if hopeCost}}
        {{> "modules/daggerheart-sleek-ui/templates/components/res-hope.hbs"
        hopeCost=hopeCost
        actorHope=@root.document.system.resources.hope.value}}
        {{/if}}

        <div class="hover-resources">
          {{#if item.system.equipped}}
            {{#if (eq item.system.resource.type 'die')}}
            {{> "modules/daggerheart-sleek-ui/templates/components/res-die.hbs"}}
            {{/if}}

            {{#if (eq item.system.resource.type 'diceValue')}}
            {{> "modules/daggerheart-sleek-ui/templates/components/res-dice.hbs"}}
            {{/if}}

            {{#if (eq item.system.resource.type 'simple')}}
            {{> "modules/daggerheart-sleek-ui/templates/components/res-simple.hbs"}}
            {{/if}}

            {{#if usesData}}
            {{> "modules/daggerheart-sleek-ui/templates/components/res-uses.hbs"
            usesData=usesData}}
            {{/if}}
          {{else}}

            <div class="equip-btn" data-item-uuid="{{item.uuid}}" data-action="toggleEquipItem" data-tooltip="DAGGERHEART.UI.Tooltip.equip">
              <i class="fa-solid fa-shield"></i>
            </div>

          {{/if}}
        </div>

      </div>

      {{#if @root.quickAccess}}
      <div class="hover-area remove">
        <div class="remove-quick-access" data-action="removeFromQuickAccess" data-item-uuid="{{item.uuid}}">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      {{/if}}

    </div>

  </div>

</div>