{{! CURRENCY }}

{{#if this.inventory.hasCurrency}}
  <div class="currency-wrapper {{#if @root.currencyLabel}}display-label{{/if}}">
    {{#each this.inventory.currencies as |currency key|}}
      {{#if currency.enabled}}
        <div
          class="currency-container {{#if @root.currencyLabel}}display-label{{/if}}"
          data-currency="{{key}}"
          data-tooltip="{{localize currency.label}}"
        >
          <div class="label">
         
            <div class="icon">
              <i class="{{currency.icon}}"></i>
            </div>

            <h3 class="{{#if @root.currencyLabel}}show-label{{/if}}">
              {{localize currency.label}}
            </h3>

          </div>

          <input
            type="text"
            name="{{currency.field.fieldPath}}"
            data-allow-delta
            value="{{currency.value}}"
            data-dtype="Number"
            min="0"
            step="1"
          />
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}