{{! CURRENCY }}

{{#if this.inventory.hasCurrency}}
  <div class="currency-wrapper">
    {{#each this.inventory.currencies as |currency key|}}
      {{#if currency.enabled}}
        <div
          class="currency-container"
          data-currency="{{key}}"
          data-tooltip="{{localize currency.label}}"
        >
          <div class="icon">
            <i class="{{currency.icon}}"></i>
          </div>

          <input
            type="text"
            name="{{currency.field.fieldPath}}"
            data-allow-delta
            value="{{currency.value}}"
            data-dtype="Number"
            min="0"
            step="1"
          />
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}

{{!-- <div class="currency-wrapper">

  <div
    class="currency-container"
    data-currency="coins"
    data-tooltip="{{localize 'DAGGERHEART.CONFIG.Gold.coins'}}"
  >
    <div class="icon">
      <i class="fa-solid fa-coin-front"></i>
    </div>
    <div>
      {{formInput
        systemFields.gold.fields.coins
        value=source.system.gold.coins
        localize=true
        toggled=true
        class="currency-input"
        min=0
      }}
    </div>
  </div>

  <div
    class="currency-container"
    data-currency="handfuls"
    data-tooltip="{{localize 'DAGGERHEART.CONFIG.Gold.handfuls'}}"
  >
    <div class="icon">
      <i class="fa-solid fa-coins"></i>
    </div>
    <div>
      {{formInput
        systemFields.gold.fields.handfuls
        value=source.system.gold.handfuls
        localize=true
        toggled=true
        class="currency-input"
        min=0
      }}
    </div>
  </div>

  <div
    class="currency-container"
    data-currency="bags"
    data-tooltip="{{localize 'DAGGERHEART.CONFIG.Gold.bags'}}"
  >
    <div class="icon">
      <i class="fa-solid fa-sack"></i>
    </div>
    <div>
      {{formInput
        systemFields.gold.fields.bags
        value=source.system.gold.bags
        localize=true
        toggled=true
        class="currency-input"
        min=0
      }}
    </div>
  </div>

  <div
    class="currency-container"
    data-currency="chests"
    data-tooltip="{{localize 'DAGGERHEART.CONFIG.Gold.chests'}}"
  >
    <div class="icon">
      <i class="fa-solid fa-treasure-chest"></i>
    </div>
    <div>
      {{formInput
        systemFields.gold.fields.chests
        value=source.system.gold.chests
        localize=true
        toggled=true
        class="currency-input"
        min=0
      }}
    </div>
  </div>
</div> --}}