<div class="sidebar-content">

  <div class="portrait {{#if isDeath}}deathroll{{/if}}">
    {{#if beastformPortrait}}
    <img src="{{beastformPortrait}}" alt="{{document.name}} (Beastform)" class="beastform-portrait" />
    {{else}}
    <img src="{{document.img}}" alt="{{document.name}}" data-action="editImage" data-edit="img" />
    {{/if}}
    {{#if isDeath}}
    <a class="deathroll-btn" data-tooltip="DAGGERHEART.UI.Tooltip.makeDeathMove" data-action="makeDeathMove"><i
        class="fa-solid fa-skull death-save"></i></a>
    {{/if}}
  </div>

  {{#if beastformItem}}
  <div class="cancel-beastform-btn" data-action="cancelBeastform" data-item-uuid="{{beastformItem.uuid}}">
    <h3>{{localize "DAGGERHEART.ACTORS.Character.cancelBeastform"}}</h3>
  </div>
  {{/if}}

 

  {{#if quickAccess}}
  <div class="favorites">

    {{#if unarmedAttack}}
      <div class="favorites-container">
        <div class="favorites-header">
          <h3>{{localize "DAGGERHEART.ACTIONS.TYPES.attack.name"}}</h3>
        </div>

        <ul class="favorites-list">
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-weapon.hbs"
          item=unarmedAttack.item
          tags=unarmedAttack.tags
          hopeCost=unarmedAttack.hopeCost
          usesData=unarmedAttack.usesData
          damage=unarmedAttack.damage
          enrichedDescription=unarmedAttack.enrichedDescription}}
        </ul>
      </div>
    {{/if}}

    <div class="favorites-container">
      <div class="favorites-header quick-access-header">
        <h3>Quick Access

          <div class="add-divider" data-action="addQuickAccessDivider" data-tooltip="Add Divider">
            <i class="fa-solid fa-plus"></i>
          </div>

        </h3>

      </div>

      <ul class="favorites-list">
        {{#each quickAccessItems as |itemData|}}
          {{#if itemData.isDivider}}
          {{> "modules/daggerheart-sleek-ui/templates/components/divider.hbs"
          dividerUuid=itemData.dividerUuid}}
          {{else if (eq itemData.itemType "weapon")}}
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-weapon.hbs"
          item=itemData.item
          tags=itemData.tags
          hopeCost=itemData.hopeCost
          usesData=itemData.usesData
          damage=itemData.damage
          enrichedDescription=itemData.enrichedDescription}}
          {{else if (eq itemData.itemType "armor")}}
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-armor.hbs"
          item=itemData.item
          tags=itemData.tags
          hopeCost=itemData.hopeCost
          usesData=itemData.usesData
          marks=itemData.marks
          enrichedDescription=itemData.enrichedDescription}}
          {{else if (eq itemData.itemType "domainCard")}}
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-domains.hbs"
          item=itemData.item
          tags=itemData.tags
          hopeCost=itemData.hopeCost
          usesData=itemData.usesData}}
          {{else if (eq itemData.itemType "consumable")}}
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-item.hbs"
          item=itemData.item
          tags=itemData.tags
          hopeCost=itemData.hopeCost
          usesData=itemData.usesData
          quantity=itemData.quantity
          enrichedDescription=itemData.enrichedDescription}}
          {{else if (eq itemData.itemType "loot")}}
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-item.hbs"
          item=itemData.item
          tags=itemData.tags
          hopeCost=itemData.hopeCost
          usesData=itemData.usesData
          quantity=itemData.quantity
          enrichedDescription=itemData.enrichedDescription}}
          {{else if (eq itemData.itemType "feature")}}
          {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-features.hbs"
          item=itemData.item
          tags=itemData.tags
          hopeCost=itemData.hopeCost
          usesData=itemData.usesData
          enrichedDescription=itemData.enrichedDescription}}
          {{/if}}
        {{/each}}

        <div class="drag-area">
          <h3>Drag Here</h3>
        </div>
      </ul>
    </div>
  </div>
  {{else}}
  <div class="favorites">
    <div class="favorites-container">
      <div class="favorites-header">
        <h3>{{localize "DAGGERHEART.GENERAL.Tabs.equipment"}}</h3>
      </div>
      <ul class="favorites-list">
        {{#if unarmedAttack}}
        {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-weapon.hbs"
        item=unarmedAttack.item
        tags=unarmedAttack.tags
        hopeCost=unarmedAttack.hopeCost
        usesData=unarmedAttack.usesData
        damage=unarmedAttack.damage
        enrichedDescription=unarmedAttack.enrichedDescription}}
        {{/if}}
        {{#each weapons as |weaponData|}}
        {{#if weaponData.item.system.equipped}}
        {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-weapon.hbs"
        item=weaponData.item
        tags=weaponData.tags
        hopeCost=weaponData.hopeCost
        usesData=weaponData.usesData
        enrichedDescription=weaponData.enrichedDescription}}
        {{/if}}
        {{/each}}
        {{#each armors as |armorData|}}
        {{#if armorData.item.system.equipped}}
        {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-armor.hbs"
        item=armorData.item
        tags=armorData.tags
        hopeCost=armorData.hopeCost
        usesData=armorData.usesData
        marks=armorData.marks
        enrichedDescription=armorData.enrichedDescription}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

    <div class="favorites-container">
      <div class="favorites-header">
        <h3>{{localize "DAGGERHEART.GENERAL.Tabs.loadout"}}</h3>
      </div>

      <ul class="favorites-list">
        {{#each loadoutCards as |cardData|}}
        {{> "modules/daggerheart-sleek-ui/templates/components/compact-card-domains.hbs"
        item=cardData.item
        tags=cardData.tags
        hopeCost=cardData.hopeCost
        usesData=cardData.usesData}}
        {{/each}}
      </ul>
    </div>

  </div>
  {{/if}}

  <button type="button" class="settings-button" data-action="openSettings"
    data-tooltip-text="{{localize 'DAGGERHEART.UI.Tooltip.openSheetSettings'}}"
    aria-label="{{localize 'DAGGERHEART.UI.Tooltip.openSheetSettings'}}">
    <i class="fa-solid fa-gear"></i>
  </button>

</div>